@keyframes pulse {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

body {
	color: var(--default-font-color);
}

main {
	background: var(--default-background-color);
}

.container {
	background-color: var(--containers-color);
	border-radius: 0.8rem;
	outline: var(--outline-container);
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	backdrop-filter: var(--backdrop-container);
	-webkit-backdrop-filter: var(--backdrop-container);
}

aside {
	background-color: var(--containers-color);
}

section {
	&.home_section {
		background-color: var(--default-background-color);
	}
}

header {
	&#header_home {
		& label#checkbox_label {
			background-color: var(--buttons-color);
			border-radius: 1.5rem;
			box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
			cursor: pointer;

			& div#switch {
				background-color: #ffffff;
				border-radius: 50%;
			}
		}
	}
}

article {
	&.new_games_releases {
		& div.slider {
			border-radius: 1rem;
			color: white;

			& #game_alert {
				border-radius: 1.5rem;
				background-image: linear-gradient(90deg, #1b4001, #618c03);
				animation: pulse 1.1s linear infinite;

				& p {
					color: #fff;
					font-weight: bold;
				}
			}

			& #game_info {
				position: relative;
				box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
				outline: 2px solid rgba(255, 255, 255, 0.15);
				backdrop-filter: blur(15px);
				z-index: 1;

				&::after {
					content: '';
					position: absolute;
					inset: 0;
					opacity: 0.1;
					background-image: radial-gradient(rgba(255, 255, 255, 0.1), #fff);
					z-index: -1;
				}

				& h1 {
					font-size: clamp(1.5rem, 1.5vw, 2.5rem);
				}

				& p {
					margin-top: 1.2rem;
					font-size: clamp(1rem, 1.1vw, 1.7rem);
				}
			}
		}
	}
}

input[type='text'] {
	background-color: transparent;
	width: 100%;
	border: none;
	outline: none;
	font-size: 1.2rem;

	&::placeholder {
		color: var(--default-font-color);
	}
}

input[type='checkbox'] {
	display: none;

	/* &:checked ~ label > #switch {
		transform: translateX(100%);
	} */
}
